<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Details of Student </title>

</head>
<body>
{% extends 'master.html' %}
    {% block title %}
    details  of 

    {{student.firstname }}
    {{student.lastname}}
     

    {% endblock %}

    {% block content %}
    
    <h1> {{student.firstname }} {{ student.lastname }} </h1>

    <p>
        Phone : {{ student.phone }}
    </p>

    <p>
        Student Since : {{ student.joined_date}}
    </p>

    {% endblock %}